:root{
    --nav-text:rgb(0, 0, 0);
    --hover-color:rgb(0, 216, 18);
    --white:white;
    --bg-color:rgba(128, 128, 128, .7);
    --green:rgb(18, 136, 18);
    --background-color:rgba(88, 255, 88, .6) ;
    --card-bg:rgba(16, 71, 16, .5);
}